.page.theme_dark {
  --main-font: 'IBM Plex Mono';
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070 ;
  --title-color: #DB00FF;
  --menu-text-color: var(--accent-color);
  --accent-color-transparent: rgba(255, 0, 112, 0.4);
  --main-font-weight: 400;
  --accent-font-weight: 700;
  --font-size: 18px;
  --bg-image: url(../images/cover-image-dark.png);
  --rec-decor-display: flex;
}